<footer id="footer">
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %> 
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
        <% if (theme.social_links) { %>          
          <%= __('index.find_me_on') %>
          <% var nb_links = Object.keys(theme.social_links).length %>
          <% var i = 0 %>
          <li>
          <% for(var link in theme.social_links) { %>
            <% if (link == 'mail') { %>
              <a class="icon" target="_blank" href="<%- url_for(theme.social_links[link]) %>">
                <i class="fas fa-envelope"></i></a><% } else { %>
              <a class="icon" target="_blank" href="<%- url_for(theme.social_links[link]) %>">
                <i class="fab fa-<%= link %>"></i></a><% } %>
          <% } %>       
          </li>   
        <% } %>
      </ul>
    </nav>
  </div>
</footer>
